table {position: relative}
table th { cursor: pointer }
table tfoot {
  position: absolute;
  top: -24px;
  text-align: right;
  width: 100%;
  visibility: hidden;
}
table:hover tfoot {
  visibility: visible;
}
a.sortable-apply {padding:4px}

#rendered-md table:first-child {
  margin-top: 24px !important;
}
